<% @game.players.each do |player| %>
<div id="player-<%= player.id %>"> 
<p>
<%= player.name %></p>
<p>
<%= player.country %></p>
<p>
<%= link_to "Edit",edit_game_player_path(player.game,player),  :remote => :true %>
<%=link_to "Delete", game_player_path(player.game, player), :method => :delete, :remote => :true %></p>
</div>
<%end%>


